@model RSistema.Models.RestauranteViewModel

<h2>CADASTRO DE RESTAURANTE</h2>

@using (Html.BeginForm("Create", "Restaurantes",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Dados</legend>
        <div class="form-horizontal">

            <div class="form-group">

                <br />
                @Html.LabelFor(m => m.RestauranteNome, new { @class = "control-label col-md-0" })
                <div class="col-md-10">

                    @Html.TextBoxFor(m => m.RestauranteNome,
                                 new { @class = "form-control ", @placeholder = "" })
                    <br />
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.RestauranteNome, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-0 col-md-10">
                    <a href="@Url.Action("Index", "Restaurantes")" class="btn btn-danger">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Cancelar
                    </a>

                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk">&nbsp;Salvar Alterações </span></button>

                </div>
            </div>

        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}